* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family: "Roboto", sans-serif;
}


.container {
    max-width:1000px;
    margin:0 auto;
    padding:0 30px;
}


.header,
.footer {
    background-color: #1F2937;
}

.logo {
    font-size:24px;
    font-weight: 900;
    color:#F9FAF8;
}

ul {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 30px;
}

.header .container {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px;
    margin-bottom: 50px;
}

.hero-header h1{
    font-size: 48px;
    font-weight: 1000;
    color:#F9FAF8;
}

.hero-header p {
    font-size: 18px;
    color:#E5E7EB;
}

.hero-header .button {
    height: 35px;
    width:120px;
    background-color:#3882F6;
    border-color: #3882F6;
    padding:0px;
    border-radius: 8px;
    color:#F9FAF8;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.hero-header img {
   width: 1000px;
   height: 220px;
}

.hero-header .container {
    display:flex;
    gap:30px;
    align-items:flex-start;
    justify-content:space-around;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section h2 {
    font-size: 36px;
    font-weight:1000;
    color:#1F2937;
    text-align: center;
}

.section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px;
    max-width: 500px;
    gap:50px;
}

.box {
    border:4px solid #3882F6 ;
    border-radius: 20px;
    height: 160px;
    width: 160px;
    margin-top: 20px;
}

.section p {
    color:gray;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.quote h4 {
    font-size: 36px;
    font-style:italic;
    color:#1F2937;
    text-align: justify;
    align-self: center;
    font-weight: 1;
}

.quote h6 {
    font-weight: bolder;
    align-self: flex-end;
    font-size: 24px;
    color:#1F2937;
}

.quote .container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-top:100px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 70px;
    max-width: 1300px;
    justify-content: center;
}

.section2 .container {
    display: flex;
    border:4px #3882F6;
    border-radius: 10px;
    background-color: #3882F6;
    padding: 50px;
    margin-top: 100px;
    justify-content: space-evenly;
}

.section2 .button2 {
    height: 35px;
    width:120px;
    background-color:#3882F6;
    border-color:white;
    padding:0px;
    border-radius: 8px;
    color:#F9FAF8;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.section2 h3 {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.section2 p {
    color: #F9FAF8;
    font-size: 18px;
}

.footer .container {
    display: flex;
    padding:40px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 18px;
    color: #F9FAF8;
}