* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family: "Roboto", sans-serif;
}


.container {
    max-width:1000px;
    margin:0 auto;
    padding:0 30px;
}


.header {
    background-color: #1F2937;
}

.logo {
    font-size:24px;
    font-weight: bold;
    color:#F9FAF8;
}

ul {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 30px;
}

.header .container {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px;
    margin-bottom: 30px;
}

.hero-header h1{
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
}

.hero-header p {
    font-size: 18px;
    color:#E5E7EB;
}

.hero-header .button {
    height: 35px;
    width:120px;
    background-color:#3882F6;
    border-color: #3882F6;
    padding:0px;
    border-radius: 8px;
    color:#F9FAF8;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.hero-header img {
   width: 1000px;
   height: 220px;
}

.hero-header .container {
    display:flex;
    gap:30px;
    align-items:flex-start;
    justify-content:space-around;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section h2 {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    text-align: center;
}

.section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px;
    max-width: 500px;
    gap:50px;
}

.box {
    border:4px solid #3882F6 ;
    border-radius: 20px;
    height: 160px;
    width: 160px;
    margin-top: 20px;
}

.section p {
    color:gray;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}